extends layout

block content
    
    .row.justify-content-center
        .col-sm-6
            legend New Pet
            form(action=`/pets/${pet._id}?_method=PUT`, method="POST")
                .form-group
                    label Name
                    span.text-danger *
                    input.form-control(name="name" value=pet.name required)
                .form-group
                    label Species
                    span.text-danger *
                    input.form-control(name="species" value=pet.species required)    
                .form-group
                    label Birthday
                    span.text-danger *
                    input.form-control(name="birthday" value=pet.birthday required)    
                .form-group
                    label Avatar
                    span.text-danger *
                    if pet.avatarUrl
                        img.card-img-top(src=pet.avatarUrl + '-standard.', alt='Card image cap')
                    else
                        img.card-img-top(src=pet.picUrl, alt='Card image cap')
                    input.form-control(name="avatar" type="file")
                .form-group
                    label Favorite Food
                    span.text-danger *
                    input.form-control(name="favoriteFood" value=pet.favoriteFood)    
                .form-group
                    label Description
                    span.text-danger *
                    textarea.form-control(name="description" required)=pet.description
                .form-group
                    label Price
                    span.text-danger *
                    input.form-control(name="price" type="number" value=pet.price required)  
                button(type="submit").btn.btn-primary Save
            .text-right
                form(action=`/pets/${pet._id}?_method=DELETE`, method="POST")
                    button(type="submit").btn.btn-danger Remove
